# Producao BuzUp (defina o dominio final aqui)
BUZUP_API_BASE_URL=https://buzup.updigital.co.mz
POS_FLUTTER_DEVICE=android
POS_WEB_HOST=127.0.0.1
POS_WEB_PORT=3012
POS_SPLIT_PER_ABI=true
POS_RELEASE_ABI=armeabi-v7a
# BUZUP_POS_NDK_VERSION=27.0.12077973
