SECRET_KEY=CHANGE-THIS-TO-A-STRONG-RANDOM-KEY
DEBUG=False
ALLOWED_HOSTS=buzup.updigital.co.mz,updigital.co.mz,www.updigital.co.mz,backend,localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=https://buzup.updigital.co.mz,https://updigital.co.mz,https://www.updigital.co.mz
CSRF_TRUSTED_ORIGINS=https://buzup.updigital.co.mz,https://updigital.co.mz,https://www.updigital.co.mz
PUBLIC_BASE_URL=https://buzup.updigital.co.mz

POSTGRES_DB=buzup_staging
POSTGRES_USER=buzup_staging
POSTGRES_PASSWORD=CHANGE-THIS
POSTGRES_HOST=db
POSTGRES_PORT=5432

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

PAYMENT_GATEWAY_PROVIDER=MOCK
PAYMENT_GATEWAY_WEBHOOK_SECRET=CHANGE-THIS
PAYMENT_MOBILE_WALLET_METHODS=MPESA,EMOLA
PAYMENT_MOBILE_WALLET_TIMEOUT_SECONDS=180
PAYLESS_BASE_URL=https://payless.bluteki.com/api/v2.0
PAYLESS_BEARER_TOKEN=

MPESA_TRANSPORT=PAYLESS
MPESA_C2B_URL=
MPESA_API_URL=
MPESA_SHORTCODE=
MPESA_SERVICE=buzup-staging
MPESA_DESCRIPTION=Pagamento BuzUp Staging
MPESA_CALLBACK_URL=https://buzup.updigital.co.mz/api/payments/webhooks/mpesa/

EMOLA_TRANSPORT=PAYLESS
EMOLA_C2B_URL=
EMOLA_API_URL=
EMOLA_WALLET_CODE=
EMOLA_SMS_CONTENT=Confirme o pagamento BuzUp Staging na sua carteira E-Mola.
EMOLA_SERVICE=buzup-staging
EMOLA_DESCRIPTION=Pagamento BuzUp Staging

BLUTEKI_BASE_URL=https://smshub.bluteki.com/api/v1
BLUTEKI_API_KEY=
BLUTEKI_SENDER_ID=BuzUp
BLUTEKI_CUSTOMER_KEY=

SMS_PROVIDER=MOCK

OTP_TTL_MINUTES=5
OTP_MAX_ATTEMPTS=5
OTP_REQUEST_WINDOW_SECONDS=300
OTP_MAX_REQUESTS_PER_PHONE=3
OTP_MAX_REQUESTS_PER_IP=20

# QA por IP. Para acesso publico temporario, usar 0.0.0.0:8083.
BUZUP_STAGING_QA_HTTP_BIND=127.0.0.1:8083
